<div class="panel panel-default">
	<div class="panel-heading">{{dayDetails.date | date:'dd MMM yyyy'}}</div>

	<ul class="list-group">
	  <li class="list-group-item border_zero">
	    <span class="badge">01:00 PM</span>
	    <span ng-hide="editUserBtn" class="userDetail">{{dayDetails.numEntry[0].number || '_'}}</span>
	    <input ng-show="editUserBtn" type="text" class="form-control" ng-model="dayDetails.numEntry[0].number" placeholder="Number">
	  </li>
	  <li class="list-group-item border_zero">
	    <span class="badge">02:00 PM</span>
	    <span ng-hide="editUserBtn" class="userDetail">{{dayDetails.numEntry[1].number || '_'}}</span>
	    <input ng-show="editUserBtn" type="text" class="form-control" ng-model="dayDetails.numEntry[1].number" placeholder="Number">
	  </li>
	  <li class="list-group-item border_zero">
	    <span class="badge">03:00 PM</span>
	    <span ng-hide="editUserBtn" class="userDetail">{{dayDetails.numEntry[2].number || '_'}}</span>
	    <input ng-show="editUserBtn" type="text" class="form-control" ng-model="dayDetails.numEntry[2].number" placeholder="Number">
	  </li>
	  <li class="list-group-item border_zero">
	    <span class="badge">04:00 PM</span>
	    <span ng-hide="editUserBtn" class="userDetail">{{dayDetails.numEntry[3].number || '_'}}</span>
	    <input ng-show="editUserBtn" type="text" class="form-control" ng-model="dayDetails.numEntry[3].number" placeholder="Number">
	  </li>
	  <li class="list-group-item border_zero">
	    <span class="badge">05:00 PM</span>
	    <span ng-hide="editUserBtn" class="userDetail">{{dayDetails.numEntry[4].number || '_'}}</span>
	    <input ng-show="editUserBtn" type="text" class="form-control" ng-model="dayDetails.numEntry[4].number" placeholder="Number">
	  </li>
	</ul>
	<div class="row" style="margin: 10px;">
	    <div class="col-sm-6">
	        <button id="editBtn" ng-click="editDetail(dayDetails)" type="button" class="btn btn-block btn-primary">Edit</button>
	    </div>
	    <div class="col-sm-6">
	        <button ng-click="deleteEntry(dayDetails._id)" type="button" class="btn btn-block btn-danger">Delete</button>
	    </div>
	</div> 
</div>